{% extends 'base.html' %}

{% block content %}
    <div id="painel">
        {% for key in data %}
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ key.name|capfirst }}</div>
                    <div id="nome" class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading"></h4>
                                <p class="list-group-item-text">
                                    <ul>
                                        <li><span><b>Categoria:</b></span> {{ key.category.name }}</li>
                                        <li><span><b>Cidade:</b></span> {{ key.city.name }}</li>
                                        <li><span><b>Endereço:</b></span> {{ key.address }}</li>
                                    </ul>
                                    <p>
                                        {{ key.description }}
                                    </p>
                                </p>
                            </a>
                        </div>
                        <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Reprovar</button>
                        <button id='submit' type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Aprovar</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        $('#submit').click(function () {
            url = 'https://turismope.herokuapp.com/api/places/';
            data = {
                "latitude": "-7.835196",
                "longitude": "-34.907151",
                "altitude": "",
                "category": {
                    "id": 2
                },
                "city": {
                    "id": 76
                },
                "approved": 1,
                "description": "Lugar para testes",
                "address": "Rua Porto Digital, 274, Antigo, Recife, CEP: 54100120",
                "name": "Novo Lugar I",
                "language": "",
                "id": 1538
            }


            $.ajax({
                url: url,
                type: "PUT",
                data: data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                    console.log("Pure jQuery Pure JS object");
                }
            });

        });

{#https://turismope.herokuapp.com/api/places/{"latitude":"-7.835196","longitude":"-34.907151","altitude":"","category":{"id":2},"city":{"id":76},"approved":1,"description":"Lugar para testes","address":"Rua Porto Digital, 274, Antigo, Recife, CEP: 54100120","name":"Novo Lugar I","language":"","id":1538}#}

    </script>
{% endblock %}
